<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fishpig_smtp>
            <settings>
                <enabled>1</enabled>
                <mail_provider>1</mail_provider>
            </settings>
        </fishpig_smtp>
    </default>
</config>